@{
    ViewData["Title"] = "Confirmare Cerere";
}
<div class="container">
    <div class="text-center">
        <h1 class="text-info">Confirmare Cerere</h1>
        <p>Am primit confirmarea ta</p>
        <img src="/images/p.jpg" alt="Confirmation Image">
    </div>
</div>